.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 32px 50px;
  margin: 0 10px 0;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  top: 32px;
  right: 50px;
  background: transparent;
  background-image: url(../images/close_btn_icon.png);
  border: none;
  opacity: 40%;
  cursor: pointer;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.modal__label {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0;
  color: #212121b3;
}

.modal__input {
  display: block;
  box-sizing: border-box;
  margin: 8px 0 0;
  padding: 0;
  width: 100%;
  border: 1px solid #21212166;
  border-radius: 8px;
  padding: 16px 12px 16px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0;
  color: #212121;
}

.modal__input::placeholder {
  color: #2121214d;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0;
}

.modal__save-btn {
  max-width: 156px;
  height: 52px;
  background-color: #212121;
  color: #fcf5e5;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .modal__container {
    padding: 12px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__title {
    margin: 0 0 24px;
    font-weight: 500;
    font-size: 20px;
  }

  .modal__label {
    margin: 0 0 24px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__input::placeholder {
    font-size: 16px;
  }

  .modal__save-btn {
    max-width: none;
    width: 100%;
  }
}
