.profile {
  display: flex;
  padding: 34px 0 20px;
  margin: 0;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0;
  padding-bottom: 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.profile__description {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  opacity: 70%;
}

.profile__edit_button {
  display: flex;
  margin-top: auto;
  padding: 0;
  background: none;
  border: none;
  color: #212121;
  gap: 8px;
  opacity: 70%;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  transition: opacity 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
}

.profile__edit_button:hover {
  opacity: 1;
}

.profile__edit_icon {
  height: 16px;
  width: 18px;
}

.profile__add_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 8px;
  background-color: #212121;
  color: #fcf5e5;
  min-width: 149px;
  height: 52px;
  border-radius: 8px;
  margin-top: auto;
  margin-left: auto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  transition: opacity 0.3s ease-in-out;
}

.profile__add_button:hover {
  opacity: 0.8;
}

.profile__plus_icon {
  height: 12px;
  width: 12px;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    width: 80px;
    height: 80px;
    margin: 0;
    padding-bottom: 12px;
  }

  .profile__name {
    padding-bottom: 6px;
    font-size: 20px;
  }

  .profile__column {
    align-items: center;
  }

  .profile__edit_button {
    padding: 32px 0 20px;
  }

  .profile__add_button {
    margin: 0;
    width: 288px;
    height: 52px;
  }
}
