/* ----- PROFILE SECTION ----- */
.profile {
  display: flex;
  padding: 34px 0 20px;
  margin: 0;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  width: 190px;
  height: 190px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  max-width: 420px;
  font-size: 32px;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  margin: 0;
  font-weight: 500;
  max-width: 420px;
  font-size: 16px;
  line-height: 1;
  color: #212121;
  opacity: 0.7;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* ----- EDIT BUTTON ----- */
.profile__edit-button {
  display: flex;
  margin-top: auto;
  padding: 0;
  background: none;
  border: none;
  color: #212121;
  gap: 8px;
  opacity: 0.7;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.profile__edit-button::before {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(../images/edit_pencil.svg);
}

.profile__edit-button:hover {
  opacity: 1;
}

/* ----- ADD BUTTON ----- */
.profile__add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 8px;
  border: none;
  background-color: #212121;
  color: #fcf5e5;
  min-width: 149px;
  height: 52px;
  border-radius: 8px;
  margin-top: auto;
  margin-left: auto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.profile__add-button::before {
  content: "";
  width: 12px;
  height: 12px;
  background-image: url(../images/plus_sign.svg);
}

.profile__add-button:hover {
  opacity: 0.8;
}

/* ----- RESPONSIVE ----- */
@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    width: 80px;
    height: 80px;
    margin: 12px;
  }

  .profile__name {
    margin-bottom: 6px;
    font-size: 20px;
  }

  .profile__column {
    align-items: center;
  }

  .profile__edit-button {
    padding: 32px 0 20px;
  }

  .profile__add-button {
    margin: 0;
    width: 288px;
  }
}
